:root {
  --blue: #395da2;
  --red: #ed1c24;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-image: url(../images/blue-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

/*HEADER CONTENT*/
header {
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.icons {
  margin-left: auto;
}

.icons a {
  text-decoration: none;
  font-size: 30px;
  padding-left: 15px;
  color: white;
}

.icons a:hover {
  color: var(--blue);
}

.logo {
  color: #395da2;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  margin-left: 30px;
}

.LOGO a:hover {
  color: var(--red);
}

.searchbar {
  border-radius: 30px;
  background: #d9d9d9;
  width: 368px;
  height: 20px;
  flex-shrink: 0;
  padding: 10px;
  margin-left: 20px;
  margin-right: 30px;
}

.searchbar :nth-child(1) {
  color: black;
  text-decoration: none;
  margin-top: 2px;
}

.searchbar input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background: #d9d9d9;
}

.nav ul {
  height: 57px;
  background: rgba(0, 0, 0, 0.29);
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0 30px 0 30px;
  gap: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

ul a {
  color: white;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}

.nav li a:hover {
  color: var(--red);
}

/*MAIN CONTENT*/
.check-mark {
  display: block;
  margin: auto;
  height: 50%;
  width: 15%;
  opacity: 0;
  animation: fade-in 3s forwards;
  padding: 50px;
}
/*add animation to check mark 2morrow*/

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    border-radius: 120%;
  }
}

.confirmation-box {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
  animation-fill-mode: forwards;
  width: 100%;
}

.check-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 50px;
  font-family: "Alumni Sans", sans-serif;
  font-stretch: semi-expanded;
  color: white;
  width: max-content;
  margin-left: 33%;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
    color: rgb(0, 255, 0);
  }
}

.check-text h1 {
  font-weight: bolder;
  font-size: 40px;
  margin: 0 30px 0 30px;
}

.check-text p {
  font-size: 30px;
  margin: 0 30px 0 30px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(65), cursor 0.4s step-end infinite alternate;
}

/*FOOTER CONTENT*/

.footer .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20%;
  width: 100%;
  gap: 10px;
  background-color: black;
  justify-content: space-around;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
}

.footer h3 {
  color: white;
  font-size: 25px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.footer a:hover {
  color: #ed1c24;
}

.footer2 {
  height: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: black;
}

.footer2 p {
  color: white;
  font-family: "Alumni Sans", sans-serif;
  margin: 0 auto 10px 10px;
}

.footer2 a {
  margin: 10px;
}

@media screen and (max-width: 1170px) {
  /*HEADER CONTENT*/
  header {
    height: 150px;
  }

  .check-mark {
    width: 30%;
  }

  .check-text {
    padding: 0;
    margin: 0;
  }

  .check-text h1 {
    font-size: 24px;
  }

  .check-text p {
    font-size: 20px;
  }

  .icons {
    margin-right: 30px;
  }

  .icons a {
    font-size: 30px;
    padding-left: 15px;
  }

  .icons :nth-child(3) {
    display: none;
  }

  .logo {
    font-size: 40px;
  }

  .searchbar {
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto 30px auto 30px;
  }

  .searchbar :nth-child(1) {
    margin-top: 2px;
  }

  .nav {
    display: none;
  }

  /*FOOTER CONTENT*/

  .footer h3 {
    font-size: 20px;
  }

  .footer a {
    font-size: 17px;
  }
}
