:root {
  --blue: #395da2;
  --red: #ed1c24;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: rgba(32, 32, 32, 1);
}

html {
  scroll-behavior: smooth;
}

/*HEADER CONTENT*/
header {
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.icons {
  margin-left: auto;
}

.icons a{
  text-decoration: none;
  font-size: 30px;
  padding-left: 15px;
  color: white;
}

.icons a:hover {
  color: var(--blue);
}

.logo {
  color: #395DA2;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  margin-left: 30px;
}

.LOGO a:hover {
  color: var(--red);
}

.searchbar {
  border-radius: 30px;
  background: #D9D9D9;
  width: 368px;
  height: 20px;
  flex-shrink: 0;
  padding: 10px;
  margin-left: 20px;
  margin-right: 30px;
}

.searchbar :nth-child(1) {
  color: black;
  text-decoration: none;
  margin-top: 2px;
}

.nav ul{
  height: 57px;
  background: rgba(0, 0, 0, 0.29);
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0 30px 0 30px;
  gap: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

ul a {
  color: white;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}

.nav li a:hover {
  color: var(--red);
}

/*MAIN CONTENT*/

.console-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.sony {
  padding: 50px 35px 50px 35px;
  background-color: black;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.xbox {
  padding: 50px;
  background-color: black;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.nintendo {
  padding: 50px 55px 50px 55px;
  background-color: black;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.sony a {
  color: white;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}

.xbox a {
  color: white;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}

.nintendo a {
  color: white;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}

.other {
  background: #395da2;
  border-radius: 24px;
  width: 468px;
  height: 60px;
  box-shadow: -2px 11px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 40px;
  text-align: center;
  padding-top: 20px;
}

.other a {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.other a:hover {
  color: var(--red);
}

.sony > a:hover {
  color: var(--red);
}

.xbox > a:hover {
  color: var(--red);
}

.nintendo > a:hover {
  color: var(--red);
}
/*FOOTER CONTENT*/ 

.footer .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20%;
  width: 100%;
  gap: 10px;
  background-color: black;
  justify-content: space-around;
  text-align: center;
  font-family: 'Alumni Sans', sans-serif;
}

.footer h3 {
  color: white;
  font-size: 25px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.footer a:hover {
  color: #ed1c24;
}

.footer2 {
  height: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: black;
}

.footer2 p {
  color: white;
  font-family: 'Alumni Sans', sans-serif;
  margin: 0 auto 10px 10px;
}

.footer2 a {
  margin: 10px;
}

@media screen and (max-width:500px){
  
  header {
    height: 150px;
  }

  .icons {
    margin-right: 30px;
  }
  
  .icons a{
    text-decoration: none;
    font-size: 30px;
    padding-left: 15px;
    color: white;
  }

  .icons :nth-child(3) {
    display: none;
  }
  
  .logo {
    font-size: 40px;
  }
  
  .searchbar {
    border-radius: 30px;
    background: #D9D9D9;
    height: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    margin: auto 30px auto 30px;
  }
  
  .searchbar :nth-child(1) {
    color: black;
    text-decoration: none;
    margin-top: 2px;
  }
  
  .nav {
    display: none;
  }

  /*MAIN CONTENT*/

  .other {
    width: 70%;
    height: 40px;
    padding-top: 14px;
  }

  .other a {
    font-size: 20px;
  }

  /*FOOTER CONTENT*/ 
  
  .footer h3 {
    color: white;
    font-size: 20px;
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
  
  .footer2 {
    height: 3%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: black;
  }
  
  .footer2 p {
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    margin: 0 auto 10px 10px;
  }
  
  .footer2 svg {
    width: 40px;
    height: 40px;
  }

  .footer2 a {
    margin: 5px;
  }

  
}

/*:root {
  --blue: #395da2;
  --red: #ed1c24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 1440px;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.2%;
  background-color: black;
}

.icons a:hover {
  color: var(--blue);
}

.logo {
  color: #395da2;
  font-weight: bolder;
  font-size: 50px;
  font-style: normal;
  font-family: "Orbitron", sans-serif;
}

.LOGO a:hover {
  color: var(--red);
}

.searchbar {
  border-radius: 30px;
  background: #d9d9d9;
  width: 368px;
  height: 43px;
  margin-left: 600px;
  flex-shrink: 0;
  padding: 10px;
}

.searchbar :nth-child(1) {
  margin-top: 4px;
  margin-left: 10px;
  color: black;
}

.icons :nth-child(1) {
  color: white;
  font-size: 30px;
}

.icons :nth-child(2) {
  color: white;
  font-size: 28px;
  padding-left: 20px;
}

.icons :nth-child(3) {
  color: white;
  font-size: 28px;
  padding-left: 20px;
}

.nav {
  width: 1440px;
  height: 57px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.29);
}

.nav li {
  display: inline-block;
}

.ul .nav a:hover {
  color: var(--blue);
}

.nav li a:hover {
  color: var(--red);
}

.menu {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 2rem;
  margin-top: 14px;
}

.back {
  margin-left: 20px;
  font-size: 20px;
  padding: 20px;
}

.back > a {
  color: white;
  font-family: "Alumni Sans", sans-serif;
}

.back > a:hover {
  color: var(--red);
}

body {
  background: #202020 no-repeat;
  width: 1440px;
  height: 900px;
}

.console-menu {
  display: flex;
  margin-top: 215px;
  margin-left: 100px;
  justify-content: space-between;
  margin-right: 100px;
  padding: 0 auto;
}

.console-menu > .console-box {
  background: #000;
  border-radius: 38px;
  border: 1px solid #000;
  width: 400px;
  height: 400px;
}

.console-box img {
  position: absolute;
  top: 498px;
  left: 180px;
}

.console-menu > .console-box1 {
  background: #000;
  border-radius: 38px;
  width: 400px;
  height: 400px;
}

.console-box1 img {
  position: absolute;
  top: 495px;
  left: 605px;
}

.console-menu > .console-box2 {
  background: #000;
  border-radius: 38px;
  width: 400px;
  height: 400px;
}

.console-box2 img {
  position: absolute;
  top: 495px;
}

.Name {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

.Name > .sony {
  margin-left: 100px;
  margin-top: 20px;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
}

.Name > .sony > a {
  color: white;
}

.Name > .sony > a:hover {
  color: var(--red);
}

.Name > .xbox {
  margin-right: 50px;
  margin-top: 15px;
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
}

.Name > .xbox > a {
  color: white;
}

.Name > .xbox > a:hover {
  color: var(--red);
}

.Name > .nintendo {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  margin-top: 15px;
  margin-right: 190px;
}

.Name > .nintendo > a {
  color: white;
}

.Name > .nintendo > a:hover {
  color: var(--red);
}

.other {
  background: #395da2;
  border-radius: 24px;
  width: 468px;
  height: 80px;
  box-shadow: -2px 11px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 500px;
  margin-top: 200px;
  padding-top: 20px;
}

.other a {
  color: #fff;
  margin-left: 65px;
  padding-top: 80px;
  font-family: "Orbitron", sans-serif;
  font-size: 31px;
  margin-top: 200px;
}

.other a:hover {
  color: var(--red);
}

.box a {
  color: white;
}

.footer {
  background: #000;
  width: 1440px;
  margin-top: 300px;
}

.footer .box-container {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 300px;
  background-color: black;
  justify-content: center;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  padding-top: 82px;
}

.box {
  color: white;
  font-size: 20px;
  padding-left: 80px;
}

.box a {
  color: white;
}

svg:hover path {
  fill: red;
}

.box-container a {
  margin-top: 150px;
  margin-left: 5px;
}

.box a:hover {
  color: var(--red);
}

.credit {
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
  width: 1440px;
  font-weight: 100;
}*/
