:root {
  --blue: #395da2;
  --red: #ed1c24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.2%;
  background-color: black;
}

header {
  width: 100%;
  height: 20%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.icons a:hover {
  color: var(--blue);
}

.logo {
  color: #395da2;
  font-weight: bolder;
  font-size: 50px;
  font-style: normal;
  font-family: "Orbitron", sans-serif;
}

.LOGO a:hover {
  color: var(--red);
}

.searchbar {
  border-radius: 30px;
  background: #d9d9d9;
  width: 368px;
  height: 43px;
  margin-left: 600px;
  flex-shrink: 0;
  padding: 10px;
}

.searchbar :nth-child(1) {
  margin-top: 4px;
  margin-left: 10px;
  color: black;
}

.searchbar input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background: #d9d9d9;
}

.icons :nth-child(1) {
  color: white;
  font-size: 30px;
}

.icons :nth-child(2) {
  color: white;
  font-size: 28px;
  padding-left: 20px;
}

.icons :nth-child(3) {
  color: white;
  font-size: 28px;
  padding-left: 20px;
}

.nav {
  width: 100%;
  height: 57px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.29);
}

.nav li {
  display: inline-block;
}

.ul .nav a:hover {
  color: var(--blue);
}

.nav li a:hover {
  color: var(--red);
}

.back {
  margin-left: 20px;
  font-size: 20px;
  padding: 20px;
}

.back > a {
  color: white;
  font-family: "Alumni Sans", sans-serif;
}

.back > a:hover {
  color: var(--red);
}

.menu {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 2rem;
  margin-top: 14px;
  width: 100%;
  height: 100vh;
}

/*MAIN*/

body {
  background: #202020 no-repeat;
  width: 100%;
  height: 100vh;
}

.xbox-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 30px 40px;
  background-color: rgba(21, 21, 23, 1);
}

.xbox-img {
  grid-column: 1/1;
  width: 250%;
  border: #d9d9d9 solid 3px;
  margin-left: 50px;
}

.product-info {
  grid-column: 4/4;
  padding-left: 30%;
  width: 550px;
}

.product-info h1 {
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  color: white;
  font-size: 38px;
  letter-spacing: 8px;
}

.info-container {
  padding: 20px 30px;
  background-color: black;
  border-radius: 10px;
  margin-top: 20px;
}

.info-container p {
  color: white;
  line-height: 1.5;
  font-weight: lighter;
  font-size: 14px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  margin-top: 25px;
}

.btn-heart {
  background-color: rgba(57, 93, 162, 1);
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-heart:hover {
  background-color: white;
  color: rgba(57, 93, 162, 1);
}

.btn-cart {
  background-color: rgba(57, 93, 162, 1);
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-cart:hover {
  color: rgba(57, 93, 162, 1);
  background-color: white;
}

.product {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.product h6 {
  font-size: 24px;
  color: white;
  font-family: "Alumni Sans", sans-serif;
}

#quantity {
  width: 100px;
  height: 20px;
}

/*FOOTER*/

.footer {
  background: #000;
  width: 100%;
  margin-top: 300px;
}

.footer .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10%;
  width: 100%;
  gap: 10px;
  background-color: black;
  justify-content: space-around;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
}

.footer h3 {
  color: white;
  font-size: 25px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.footer a:hover {
  color: #ed1c24;
}

.footer2 {
  height: 5%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: black;
}

.footer2 p {
  color: white;
  font-family: "Alumni Sans", sans-serif;
  margin: 0 auto 10px 10px;
}

.footer2 a {
  margin: 10px;
}

.box {
  color: white;
  font-size: 20px;
  padding-left: 80px;
  margin-top: 30px;
}

.box a {
  color: white;
}

svg:hover path {
  fill: red;
}

.box-container a {
  margin-top: 150px;
  margin-left: 5px;
}

.box a:hover {
  color: var(--red);
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
    max-height: 600px;
  }

  body img {
    max-width: 100%;
  }

  header {
    height: 150px;
    display: flex;
    flex-direction: row;
  }

  .icons {
    margin-right: 30px;
  }

  .icons a {
    text-decoration: none;
    font-size: 30px;
    padding-left: 15px;
    color: white;
  }

  .icons :nth-child(3) {
    display: none;
  }

  .logo {
    font-size: 40px;
  }

  .searchbar {
    border-radius: 30px;
    background: #d9d9d9;
    height: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    margin: auto 30px auto 30px;
  }

  .searchbar :nth-child(1) {
    color: black;
    text-decoration: none;
    margin-top: 2px;
  }

  .nav {
    display: none;
  }

  /*MAIN CONTENT*/

  .body {
    padding: 0;
  }

  .xbox-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    background-color: rgba(21, 21, 23, 1);
    width: 100%px;
  }

  .xbox-img {
    grid-column: 1/1;
    grid-row: 1/2;
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .product-info {
    grid-column: 1/1;
    grid-row: 2/2;
    height: 50%;
    padding: 0;
    width: 100%;
  }

  .info-container {
    padding: 20px 30px;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
  }

  .info-container p {
    color: white;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 14px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    margin-top: 25px;
  }

  .btn-heart {
    width: 50%;
  }

  .btn-cart {
    width: 50%;
  }

  .btn-cart:hover {
    color: rgba(57, 93, 162, 1);
    background-color: white;
  }

  .product {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
  }

  .product h6 {
    font-size: 24px;
    color: white;
    font-family: "Alumni Sans", sans-serif;
  }

  #quantity {
    width: 100px;
    height: 30px;
  }

  /*FOOTER CONTENT*/

  footer {
    width: 100%;
  }

  .footer h3 {
    color: white;
    font-size: 20px;
  }

  .footer a {
    text-decoration: none;
    color: white;
    font-size: 17px;
  }

  .footer2 {
    height: 3%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: black;
  }

  .footer2 p {
    color: white;
    font-family: "Alumni Sans", sans-serif;
    margin: 0 auto 10px 10px;
  }

  .footer2 svg {
    width: 40px;
    height: 40px;
  }

  .footer2 a {
    margin: 5px;
  }
}
