:root {
  --blue: #395da2;
  --red: #ed1c24;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 1440px;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.2%;
  background-color: black;
}

.icons a:hover {
  color: var(--blue);
}

.logo {
  color: #395da2;
  font-weight: bolder;
  font-size: 50px;
  font-style: normal;
  font-family: "Orbitron", sans-serif;
}

.LOGO a:hover {
  color: var(--red);
}

.searchbar {
  border-radius: 30px;
  background: #d9d9d9;
  width: 368px;
  height: 43px;
  margin-left: 600px;
  flex-shrink: 0;
  padding: 10px;
}

.searchbar :nth-child(1) {
  margin-top: 4px;
  margin-left: 10px;
  color: black;
}

.icons :nth-child(1) {
  color: white;
  font-size: 30px;
}

.icons :nth-child(2) {
  color: white;
  font-size: 28px;
  padding-left: 20px;
}

.icons :nth-child(3) {
  color: white;
  font-size: 28px;
  padding-left: 20px;
}

.nav {
  width: 1440px;
  height: 57px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.29);
}

.nav li {
  display: inline-block;
}

.ul .nav a:hover {
  color: var(--blue);
}

.nav li a:hover {
  color: var(--red);
}

.back {
  margin-left: 20px;
  font-size: 20px;
  padding: 20px;
}

.back > a {
  color: white;
  font-family: "Alumni Sans", sans-serif;
}

.back > a:hover {
  color: var(--red);
}

.menu {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 2rem;
  margin-top: 14px;
}

body {
  background: #202020 no-repeat;
  width: 1440px;
  height: 900px;
}

.product-container {
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: 5vh 10vh;
  background-color: rgba(0, 0, 0, 0.34);
  height: 500px;
}

#images-product {
  max-width: 50%;
  max-height: auto;
  border: solid white 10px;
}

.product-info {
  width: 1400px;
}

.product-info h1 {
  text-align: center;
  color: white;
  font-family: "Alumni Sans", sans-serif;
  font-size: 46px;
  letter-spacing: 8px;
  margin-left: 40px;
}

.info-box {
  background-color: black;
  height: 300px;
  align-self: center;
  margin-top: 10px;
  width: fit-content;
  padding: 10px 10px;
  margin-left: 120px;
  border-radius: 10px;
}

.info-box p {
  width: 400px;
  color: white;
  padding: 10px 20px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.4;
}

.info-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.info-button a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.custom-box {
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 15px;
}

.custom {
  margin-right: 15vh;
  flex-direction: row;
}

.custom p {
  font-family: "Alumni Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 1.2px;
  font-size: 18px;
  margin-left: 125px;
  justify-content: center;
}

#quantity {
  width: 100px;
  margin-left: 125px;
  height: 30px;
}

.footer {
  background: #000;
  width: 1440px;
  margin-top: 300px;
}

.footer .box-container {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 300px;
  background-color: black;
  justify-content: center;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  padding-top: 82px;
}

.box {
  color: white;
  font-size: 20px;
  padding-left: 80px;
}

.box a {
  color: white;
}

svg:hover path {
  fill: red;
}

.box-container a {
  margin-top: 150px;
  margin-left: 5px;
}

.box a:hover {
  color: var(--red);
}

.credit {
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
  width: 1440px;
  font-weight: 100;
}

.btn {
  margin-top: 20px;
  margin-left: 10%;
  column-gap: 30px;
}

.btn-cart {
  width: 150px;
  background-color: #395da2;
  font-family: "Alumni Sans", sans-serif;
  font-size: 24px;
  border-radius: 15px;
  font-weight: bold;
  margin-right: 20px;
}

.btn-cart:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #395da2;
}

.btn-heart {
  width: 150px;
  background-color: #395da2;
  font-family: "Alumni Sans", sans-serif;
  font-size: 24px;
  border-radius: 15px;
  font-weight: bold;
}

.btn-heart:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #395da2;
}

.product {
  display: inline-block;
  width: auto;
}

.product h6 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 28px;
  color: white;
  background-color: rgba(32, 32, 32, 1);
  width: 80px;
  text-align: center;
  border-radius: 5px;
  font-weight: lighter;
  margin-left: 450px;
  margin-bottom: 100px;
}

#quantity {
  margin-top: 20px;
  width: fit-content;
}
