:root {
    --blue: #395da2;
    --red: #ed1c24;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;

    /*delete later*/
    background-color: rgb(0, 0, 0);
}


.icons a:hover {
    color: var(--blue);
}

.logo {
    color: #395DA2;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    margin-left: 30px;
}

.LOGO a:hover {
    color: var(--red);
}

.searchbar {
    border-radius: 30px;
    background: #D9D9D9;
    width: 368px;
    height: 43px;
    margin-left: 600px;
    flex-shrink: 0;
    padding: 10px;
}

.searchbar :nth-child(1) {
    margin-top: 4px;
    margin-left: 10px;
    color: black;
}

.searchbar input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background: #D9D9D9;
}

.icons :nth-child(1) {
    color: white;
    font-size: 30px;
}

.icons :nth-child(2) {
    color: white;
    font-size: 28px;
    padding-left: 20px;
}

.icons :nth-child(3) {
    color: white;
    font-size: 28px;
    padding-left: 20px;
}

.nav .toggleButton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
    margin-top: 13px;
    margin-right:-10.5px;
    


}

.nav .toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav .nav-bar ul {
    height: 57px;
    background: rgba(0, 0, 0, 0.29);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 30px 0 30px;
    gap: 30px;


}

ul {
    margin: 0;
    padding: 0;
}

ul a {
    color: white;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.nav li a:hover {
    color: var(--red);
}




.shopping-cart-menu .back {
    margin-left: 0px;
    font-size: 20px;
    padding: 20px;

}

.back>a {
    color: white;
    font-family: 'Alumni Sans', sans-serif;

}

.back>a:hover {
    color: var(--red);
}

/* shopping cart list setting*/
.cart-item {
    display: inline-block;
}

.cart-item-headline {
    margin-top: 20px;

}

.cart-item-headline>h2 {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 38px;
    margin-left: 60px
}

.order-summary {
    background: rgba(0, 0, 0, 0.34);
    width: 730px;
    height: 1450px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 100px;

}

.cart-item-container {
    display: inline-block;
}

.cart-item-container .cart-item-box {
    width: 639px;
    height: 300px;
    background: #FFF;
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
}

.cart-item-container .delivery-date {
    color: green;
    font-size: 24px;
    margin-left: 20px;
    font-family: 'Alumni Sans';
}

.cart-item-box .cart-item-details-grid {
    margin-top: 60px;
    margin-left: -220px;

}

.cart-item-details .product-name {
    margin-top: -180px;
    margin-left: 190px;
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.cart-item-details .product-price {
    margin-top: 130px;
    color: red;
    font-weight: bold;
    margin-left: 550px;
}

.product-platformname {
    margin-top: -50px;
    margin-left: 200px;
}


.product-platformname a {
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.product-quantity {
    margin-left: 200px;
    margin-top: 15px;
}

.update-quantity-link {
    color: blue;
    margin-left: 20px;

}

.delete-quantity-link {
    margin-left: 20px;
}

.product-quantity-container {
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: 900;

}









/*shopping information setting*/
.shopping-info {
    margin-top: -1485px;
    margin-left: 820px;
}

.shopping-info .shopping-info-headline h2 {
    color: white;
    font-family: 'Orbitron';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shopping-info .shopping-info-box {
    border-radius: 17px;
    background: #FFF;
    width: 553px;
    height: 450px;
    margin-top: 20px;
    display: inline-block;
}

.shopping-info-box .shopping-itemlist {
    border: 1px solid #000;
    width: 524px;
    height: 46px;
    margin-left: 14px;
    margin-top: 12px;
}

.shopping-itemlist>.itemname {

    margin-left: 20px;
    margin-top: 10px;

}

.shopping-itemlist>.itemname a {
    color: black;
    font-family: 'Alumni Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.shopping-itemlist>.price {
    color: black;
    font-family: 'Alumni Sans';
    font-size: 20px;
    margin-top: -25px;
    margin-left: 460px;
}

.shopping-info-box>.gift-card {
    color: black;
    font-family: 'Alumni Sans';
    font-size: 20px;
    margin-top: 20px;
    margin-left: 15px;

}

.shopping-info-box>.gift-cardbox {

    margin-left: 15px;
    border: 1px solid #000;
    width: 250px;
    height: 36px;

}

.shopping-info-box>.gift-cardbox>.gift-cardnum {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-left: 9px;
}

.shopping-info-box>.shipping {
    color: black;
    margin-top: -30px;
    margin-left: 300px;
    font-family: 'Alumni Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shopping-info-box>.totalPriceBox {
    color: black;
    margin-top: -30px;
    margin-left: 420px;
    font-family: 'Alumni Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*payment information setting*/
.payment .payment-info h2 {
    color: #FFF;
    font-family: 'Orbitron';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.payment .payment-box {
    width: 553px;
    height: 230px;
    border-radius: 26px;
    background: #FFF;
    margin-top: 20px;
    display: inline-block;

}

input[type="radio"] {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    padding-top: 10px;

}

label {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 28px;
    font-style: normal;
    line-height: normal;
    margin-left: 15px;

}

/*delivery option setting*/
.delivery .delivery-info h2 {
    color: white;
    font-family: 'Orbitron';
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.delivery .deliverybox {
    background: white;
    border-radius: 26px;
    width: 553px;
    height: 353px;
    display: inline-block;
    margin-top: 20px;
}

.delivery .deliverybox .address h4 {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 18px;
    margin-left: 25px;
}

.deliverybox .address-detail pre {
    margin-top: 2px;
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 8px;
}

.delivery .deliverybox .phone h4 {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 25px;
    margin-top: -30px;
}

.delivery .deliverybox .phonenum {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 25px;
    margin-top: 5px;
}

.delivery .deliverybox .email h4 {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 25px;
}

.delivery .deliverybox .email .emailadress {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 28px;
    margin-top: 2px;
}

.delivery .deliverybox .deliverytype h4 {
    color: #000;
    font-family: 'Alumni Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 300px;
    margin-top: -310px;
}

.delivery .deliveryselection .optionbox1 {
    border-radius: 15px;
    border: 5px solid #000;
    background: linear-gradient(0deg, #212121 0%, #212121 100%), #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 115px;
    height: 94px;
    margin-left: 350px;
    margin-top: -70px;
}

.delivery .deliveryselection input[type="radio"] {
    margin-top: 50px;
    margin-left: 300px;
}

.delivery .deliveryselection .optionbox1 svg {
    margin-top: 15px;
    margin-left: 25px;
}

.delivery .deliveryselection .optionname {
    margin-top: 10px;
    margin-left: 270px;
    color: #000;
    text-align: center;
    font-family: 'Alumni Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.delivery .deliveryselection .optionbox2 {
    border-radius: 15px;
    border: 5px solid #000;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 350px;
    margin-top: -70px;
    width: 118px;
    height: 97px;

}

.delivery .deliveryselection .optionbox2 svg {
    margin-top: 15px;
    margin-left: 32px;
}

/* check out button setting*/
.delivery button {
    background: #395DA2;
    width: 442px;
    height: 78px;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 30px;
    margin-bottom: 50px;

}

.delivery a {
    color: white;
    text-align: center;
    font-family: 'Orbitron';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.delivery a:hover {
    color: var(--red);
}

.footer .box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
    gap: 10px;
    background-color: black;
    justify-content: space-around;
    text-align: center;
    font-family: 'Alumni Sans', sans-serif;
}

.footer h3 {
    color: white;
    font-size: 25px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer a:hover {
    color: #ed1c24;
}

.footer2 {
    height: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: black;
}

.footer2 p {
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    margin: 0 auto 10px 10px;
}

.footer2 a {
    margin: 10px;
}

.nav ul {
    height: 57px;
    background: rgba(0, 0, 0, 0.29);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 30px 0 30px;
    gap: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

ul a {
    color: white;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.nav li a:hover {
    color: var(--red);
}


@media screen and (max-width:500px) {

    .body {
        width: 100%;
        height: auto;
    }

    header {
        height: 150px;
    }

    .icons {
        margin-right: 30px;
        margin-top: -210px;
        margin-left: 360px;

    }

    .icons a {
        text-decoration: none;
        font-size: 30px;
        padding-left: 15px;
        color: white;
    }

    .icons :nth-child(3) {
        display: none;
    }

    .logo {
        font-size: 40px;
    }

    .searchbar {
        border-radius: 30px;
        background: #D9D9D9;
        height: 40px;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 10px;
        margin: auto 30px auto 30px;
    }

    .searchbar :nth-child(1) {
        color: black;
        text-decoration: none;
        margin-top: -6px;

    }

    .nav .toggleButton {
        display: flex;
    }

    .nav {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .nav .nav-bar {
        margin-top: 20px;
        padding-left: 20px;
        border: 0.5px solid black;
        padding-top: -10px;
        display: none;
    }

    .nav .nav-bar ul {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: -30px;
        background: black;
        height: 600px;



    }

    .nav-bar ul li {
        background: grey;
        width: 300px;
        height: 200px;
        box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);

    }

    .nav-bar ul li a:hover {
        color: var(--red);
    }

    .nav ul a {
        color: white;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;

    }

    .back a {
        font-size: 10px;
    }

    .cart-item-headline h2 {
        font-size: 20px;
        margin-left: 10px;
        margin-top: -15px;
    }

    .cart-item-container {
        margin-top: -30px;

        display: inline-block;

    }

    .cart-item-container .cart-item-box {

        width: 475px;
        height: 200px;
        margin-left: -50px;

    }

    .cart-item-box .delivery-date {
        font-size: 14px;
        margin-top: 2px;
        margin-left: 20px;
    }

    .cart-item-box .cart-item-details-grid img {
        width: 100px;
        height: 100px;
        margin-left: 170px;
        margin-top: 10px;
    }

    .cart-item-box .cart-item-details {
        margin-left: 100px;

    }

    .cart-item-box .cart-item-details-grid .product-name {
        font-size: 12px;
        margin-top: -100px;


    }

    .cart-item-details .product-platformname {
        margin-top:
    }

    .cart-item-details .product-platformname a {
        font-size: 10px;
        margin-top: 300px;



    }

    .cart-item-details .product-price {
        font-size: 10px;
    }

    .cart-item-details .product-quantity {
        font-size: 10px;
        margin-left: 60px;
    }

    .cart-item-details .product-quantity-container {
        font-size: 10px;

    }

    .shopping-info .shopping-info-headline {
        margin-top: 500px;

    }

    .shopping-info .shopping-info-headline h2 {
        font-size: 20px;
        margin-left: -810px;

    }

    .shopping-info .shopping-info-box {
        margin-top: 30px;
        margin-left: -820px;
        width: 475px;
        height: 236px;
        border-radius: 0%;
    }

    .shopping-info-box .shopping-itemlist {
        width: 470px;
        margin-left: -2px;
    }

    .shopping-info-box .shopping-itemlist .itemname a {
        font-size: 15px;

    }

    .shopping-info-box .shopping-itemlist .price {
        font-size: 15px;

    }

    .shopping-info-box .shipping {
        font-size: 15px;
    }

    .shopping-info-box .totalPriceBox {
        font-size: 15px;
        margin-top: 1px;

    }

    .shopping-info-box .totalPriceBox .total {
        margin-left: -120px;
    }

    .shopping-info-box .gift-card {
        font-size: 15px;
    }

    .payment {
        margin-left: -805px
    }

    .payment .payment-info h2 {
        font-size: 20px;

    }

    .payment .payment-box {
        width: 475px;
        margin-left: -15px;
        border-radius: 0%;
    }

    .payment .payment-box label {
        font-size: 18px;

    }

    .delivery {
        margin-left: -800px;

    }

    .delivery .delivery-info h2 {
        font-size: 20px;
    }

    .delivery .deliverybox {
        width: 475px;
        margin-left: -20px;
        border-radius: 0%;
        height: 280px;

    }

    .delivery .deliverybox .address h4 {
        font-size: 15px;
    }

    .delivery .deliverybox .address-detail pre {
        font-size: 15px;
    }

    .delivery .deliverybox .phone h4 {
        font-size: 15px;
        margin-top: 2px;

    }

    .delivery .deliverybox .phonenum {
        font-size: 15px;
    }

    .delivery .deliverybox .email h4 {
        font-size: 15px;
    }

    .delivery .deliverybox .email .emailadress {
        font-size: 15px;
    }

    .delivery .deliverybox .deliverytype {
        margin-top: 90px;
    }

    .delivery .deliverybox .deliverytype h4 {
        font-size: 15px;
    }

    .delivery .deliveryselection .optionname {
        font-size: 10px;
    }

    .delivery button {
        font-size: 20px;
        width: 300px;

    }

    .delivery a {
        font-size: 20px;
    }

    .footer h3 {
        color: white;
        font-size: 20px;
    }

    .footer a {
        text-decoration: none;
        color: white;
        font-size: 17px;
    }

    .footer2 {
        height: 3%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-color: black;
    }

    .footer2 p {
        color: white;
        font-family: 'Alumni Sans', sans-serif;
        margin: 0 auto 10px 10px;
    }

    .footer2 svg {
        width: 40px;
        height: 40px;
    }

    .footer2 a {
        margin: 5px;
    }

}