:root {
    --blue: #395da2;
    --red: #ed1c24;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

html {
    scroll-behavior: smooth;
}

header {

    width: 1440px;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: black;
}

body {
    background: #202020 no-repeat;
    background-size: cover;
    width: 1440px;
    height: 870px;
}



.icons a:hover {
    color: var(--blue);
}

.logo {
    color: #395DA2;
    font-weight: bolder;
    font-size: 50px;
    font-style: normal;
    font-family: 'Orbitron', sans-serif;
}

.LOGO a:hover {
    color: var(--red);
}

.searchbar {
    border-radius: 30px;
    background: #D9D9D9;
    width: 368px;
    height: 43px;
    margin-left: 500px;
    flex-shrink: 0;
    padding: 10px;
    margin-top: 10px;
}

.searchbar :nth-child(1) {
    margin-top: 5px;
    margin-left: 10px;
    color: black;

}



.icons :nth-child(1) {
    color: white;
    margin-top: 5px;
    font-size: 30px;


}

.icons :nth-child(2) {
    color: white;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 8px;

}

.icons :nth-child(3) {
    color: white;
    font-size: 28px;
    padding-left: 20px;
}

.nav {
    width: 1440px;
    height: 57px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.29);

}

.nav li {
    display: inline-block;
}

.ul .nav a:hover {
    color: var(--blue);
}

.nav li a:hover {
    color: var(--red);
}

.menu {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 2.0rem;
    margin-top: 20px;

}

/*new game setting*/
.newgame {
    background: url("/images/spiderman.png");
    width: 1441px;
    height: 808px;
    display: flex;

}

.newgame .content pre {
    color: #E72525;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 57px;
    padding-top: 200px;
    margin-left: -100px
}

.newgame>#check {
    width: 258px;
    height: 65px;
    border-radius: 32px;
    background: #395DA2;
    box-shadow: 6px 8px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 500px;
    margin-left: -350px;
}

.newgame>#check>a {
    color: white;
    font-family: Alumni Sans;
    font-size: 36px;
    font-weight: bold;

}

#check a:hover {
    color: var(--red);
}

/*video menu list setting*/
.vmenu {
    background: rgba(33, 33, 33, 1);
    width: 1440px;
    height: 1000px;
}

.vmenu .vmenubox {
    background: rgba(0, 0, 0, 0.34);
    width: 1356px;
    height: 1297px;

}

.vmenubox>h1 {
    color: #FFF;
}